{% extends "base.html" %}

{% block title %}Profile/Edit{% endblock title %}


{% block content %}
    <div class="container text-center">
        <ul class="nav nav-pills navbar-dark bg-dark nav-justified mb-5" style="border:1px solid black">

            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/scorers">Top scorers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/play">Play game</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="/profile">My profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>

            <br><br><br>

        <div class="card mt-5 ml-auto mr-auto" style="width: 20rem;">

          <div class="card-body">
              <form method="post" action="/profile/edit">
                  <div class="form-floating mb-3 text-center">

                    <input type="text" class="form-control text-center" name="name" id="floatingInput" placeholder="User name" value={{ user.name }}>
                    <label for="floatingInput"><b>User name</b></label>

                  </div>

                  <div class="form-floating mb-3 text-center">

                    <input type="email" class="form-control text-center" name="email" id="floatingInput" placeholder="name@example.com" value={{ user.email }}>
                    <label for="floatingInput"><b>Email address</b></label>

                  </div>

                  <div class="form-floating mb-3 text-center">

                    <input type="password" class="form-control text-center" name="password" id="floatingPassword" placeholder="Password" value={{ user.password }}>
                    <label for="floatingPassword"><b>Password</b></label>

                  </div>

                    <button type="submit"  class="btn btn-success mt-2 "><b>Save</b></button>
                    <button type="submit"  class="btn btn-warning mt-2 ml-3 "><a href="/profile"><b>Cancel</b></a></button>
              </form>
          </div>
        </div>
    </div>
<br>
{% endblock content %}
