{% extends "base.html" %}

{% block title %}Success😁😁{% endblock title %}



{% block content %}
    <div class="container text-center">

        <ul class="nav nav-pills navbar-dark bg-dark nav-justified mb-5" style="border:1px solid black">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/scorers">Top scorers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/play">Play game</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile">My profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>
                    <br>
                    <br>
                    <br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show text-center mt-5" role="alert">
            😁 <strong>{{ message }}.</strong> 😁
            <button type="button" class="btn btn-close btn-light" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>



     {% endfor %}
  {% endif %}
{% endwith %}
        <button type="submit" class="btn btn-dark mt-3"><a href="/play">Play new game</a></button>
    </div>


{% endblock content %}