{% extends "base.html" %}

{% block title %}Top scorers{% endblock %}

{% block content %}
    <div class="container text-center">
        <ul class="nav nav-pills navbar-dark bg-dark nav-justified mb-5" style="border:1px solid black">
             <li class="nav-item">
                 <a class="nav-link" aria-current="page" href="/">Home</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link active" href="/scorers">Top scorers</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="/play">Play game</a>
             </li>

             <li class="nav-item">
                <a class="nav-link" href="/profile">My profile</a>
             </li>

             <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
             </li>

             <li class="nav-item">
                 <a class="nav-link" href="/logout">Log out</a>
             </li>
         </ul>

             <br>
             <br>
             <br>
        <!--
        <table class="table table-dark text-white">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">User</th>
              <th scope="col">Games played</th>
              <th scope="col">Wins</th>
              <th scope="col">Give up</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="active">1</th>
                <td>{{ user.name }}</td>
                <td>{{ user.games }}</td>
                <td>{{ user.wins }}</td>
                <td>{{ user.losses }}</td>
            </tr>

        </table>
-->

        <table class="table table-striped" style="border: 1px solid black">
            <tr>
                <th class="table-info"><h2>User</h2></th>
                <th class="table-info"><h2>Games played</h2></th>
                <th class="table-info"><h2>Wins</h2></th>
                <th class="table-info"><h2>Give up</h2></th>
                <th class="table-info"><h2>Points</h2></th>
            </tr>
        {% for user in users %}
            <tr>
                <td><h4>{{ user.name }}</h4></td>
                <td><h4>{{ user.games }}</h4></td>
                <td><h4>{{ user.wins }}</h4></td>
                <td><h4>{{ user.losses }}</h4></td>
                <td><h4>{{ user.score }}</h4></td>
            </tr>
        {% endfor %}
        </table>

    <!--
        <div class="container text-center">
            <div class="row">
                <div class="col-sm" style="border: 1px solid yellow">
                    <h2>User</h2>
                </div>
                <div class="col-sm" style="border: 1px solid yellow">
                    <h2>Games played</h2>
                </div>
                <div class="col-sm" style="border: 1px solid yellow">
                    <h2>Wins</h2>
                </div>

                <div class="col-sm" style="border: 1px solid yellow">
                    <h2>Give up</h2>
                </div>
            </div>

        {% for user in users %}
            <div class="row">
                <div class="col-sm" style="border: 1px solid yellow">
                    <h3 class="text-center">{{ user.name }}</h3>
                </div>

                <div class="col-sm" style="border: 1px solid yellow">
                    <h3 class="text-center">{{ user.games }}</h3>
                </div>

                <div class="col-sm" style="border: 1px solid yellow">
                    <h3 class="text-center">{{ user.wins }}</h3>
                </div>

                <div class="col-sm" style="border: 1px solid yellow">
                    <h3 class="text-center">{{ user.losses }}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
        -->
    </div>
{% endblock content %}